@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        deg,
        rgba(247,247,247,1) 23.8%,
        rgba(252,211,211,1) 92%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.music-container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    max-width: 100px 0;
    z-index: 0;
}

.img-container{
    position: relative;
    width: 110px;
}

.img-container::after{
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
}

.img-container img{
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img{
    animation-play-state: running;
}